*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

i{
    display: inline-block;
}

img{
    width: 100%;
    display: block;
}

a{
    display: inline-block;
    text-decoration: none;
}

ul , li{
    list-style: none;
    display: block;
}

/* color root */
:root{
    --green-800:#20684A;
    --green-500:#2AB97E;
    --white-900:white;
    --yellow-900:yellow;
}

/* font root */
:root{
    --titillium-web:"Titillium Web", sans-serif;
    --archivo:"Archivo", sans-serif;
}