/* header */

header .header-top{
    background-color: var(--green-800);
}

header .header-top div i{
    color: var(--green-500);
    margin: 0 4px;
}

header .header-top div span {
    color: var(--white-900);
}

header .header-top div span:first-child:hover{
    color: var(--green-500);
    transition: 1s;
}

header .header-top .icons{
    border-radius: 50%;
    border: 1px solid var(--white-900);
    color: var(--white-900);
}



header .header-top .icons i{
    color: white;
}

header .header-top .icons:hover {
    background-color: var(--green-500); /* New color on hover */
    color: #ffffff; /* Optional: change icon color too */
}


header .header-top .icons:hover::before {
    transform: scale(1); /* full size */
}

header .header-top .icons i {
    position: relative;
    z-index: 2;
    transition: color 0.6s ease;
}


