/* header */

header .container{
    max-width: 100%;
    padding: 0;
}

header .header-top{
    background-color: var(--green-800);
    padding: 5px 150px;
}

header .header-top div i{
    color: var(--green-500);
    margin: 0 4px;
}

header .header-top div span {
    color: var(--white-900);
    font-family: var(--archivo);
}

header .header-top div span:first-child:hover{
    color: var(--green-500);
    transition: 1s;
}

header .header-top .icons{
    border-radius: 50%;
    border: 1px solid var(--white-900);
    color: var(--white-900);
}



header .header-top .icons i{
    color: white;
}

header .header-top .icons:hover {
    background-color: var(--green-500);
    color: #ffffff;
}


header .header-top .icons i {
    position: relative;
    z-index: 2;
    transition: color 0.6s ease;
}

header .header-bottom{
    padding: 5px 160px;
}

header .header-bottom .left-menu{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 110px;
}

header .header-bottom .left-menu ul li a{
    display: block;
    text-decoration:none;
    padding: 18px 10px;
    margin:  0 4px;
    color: black;
    font-family: var(--titillium-web);
    font-size: 16px;
    font-weight: 600;
}

header .header-bottom .left-menu ul li a:hover{
    color: var(--green-500);
    border-bottom: 3px solid var(--green-500);
}

header .header-bottom .left-menu ul li:first-child a{
    color: var(--green-500);
    border-bottom: 3px solid var(--green-500);
}

header .drop {
    position: relative;
    background-color: white;
}

header .drop .dropdown {
    position: absolute;
    background-color: var(--white-900);
    display: none;
    width: max-content;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px
}

header .drop:hover .dropdown {
    display: block;
}


header .drop .dropdown a {
    padding: 5px;
    display: block;
    border-bottom: 1px solid #999999;
    padding-bottom: 5px;
    letter-spacing: 2px;
    font-size: 15px;
    font-family:var(--oswald);
    font-weight: 400;
}

header .drop .dropdown a:hover {
    color: #B19777;
}

header .header-bottom .right-menu .icon{
    border-radius: 50%;
    border: solid gray 1px;
    padding: 10px 14px;
    margin: 0 8px;
}

header .header-bottom .right-menu .icon:hover{
    color: white;
    background-color: var(--green-500);
}


header .header-bottom .right-menu a{
    text-decoration: none;
    color: var(--white-900);
    padding: 12px 22px;
    background-color: var(--green-500);
    border-radius: 10px;
    font-family: var(--titillium-web);
    font-size: 16px;
    font-weight: 700;
}

header .header-bottom .right-menu a:hover{
    background-color: var(--yellow-900);
    color: black;    
}




/* service-section */

.service-card .services {
    background-color: var(--gray-500);
}

.service-card .services .cards{
    padding-right: 20px;
    padding-left: 20px;
    border-right: 1px solid gray;   
}

.service-card .services .cards:last-child{
    border: none;
}

.service-card .services .cards .icon{
    padding: 15px;
    background-color: var(--white-900);
    display: inline-block;
    border-radius: 50%;
    font-size: 30px;
}

.service-card .services .cards:hover .icon{
    background-color: var(--green-500);
    color: var(--white-900);
    transition: 1s;
}

.service-card .services .cards h3{
    font: var(--titillium-web);
    font-size: 30px;
    font-weight: 600;
}

.service-card .services .cards h3:hover{
    color: var(--green-500);
}

.service-card .services .cards p{
    font: var(--archivo);
    font-size: 16px;
}