/* header */

header .container{
    max-width: 100%;
    padding: 0;
}

header .header-top{
    background-color: var(--green-800);
    padding: 5px 150px;
}

header .header-top div i{
    color: var(--green-500);
    margin: 0 4px;
}

header .header-top div span {
    color: var(--white-900);
    font-family: var(--archivo);
}

header .header-top div span:first-child:hover{
    color: var(--green-500);
    transition: 1s;
}

header .header-top .icons{
    border-radius: 50%;
    border: 1px solid var(--white-900);
    color: var(--white-900);
}



header .header-top .icons i{
    color: white;
}

header .header-top .icons:hover {
    background-color: var(--green-500);
    color: #ffffff;
}


header .header-top .icons i {
    position: relative;
    z-index: 2;
    transition: color 0.6s ease;
}

header .header-bottom{
    padding: 5px 160px;
}

header .header-bottom .left-menu{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 110px;
}

header .header-bottom .left-menu ul li a{
    display: block;
    text-decoration:none;
    padding: 18px 10px;
    margin:  0 4px;
    color: black;
    font-family: var(--titillium-web);
    font-size: 16px;
    font-weight: 600;
}

header .header-bottom .left-menu ul li a:hover{
    color: var(--green-500);
    border-bottom: 3px solid var(--green-500);
}

header .header-bottom .left-menu ul li:first-child a{
    color: var(--green-500);
    border-bottom: 3px solid var(--green-500);
}

header .drop {
    position: relative;
    background-color: white;
}

header .drop .dropdown {
    position: absolute;
    background-color: var(--white-900);
    display: none;
    width: max-content;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px
}

header .drop:hover .dropdown {
    display: block;
}


header .drop .dropdown a {
    padding: 5px;
    display: block;
    border-bottom: 1px solid #999999;
    padding-bottom: 5px;
    letter-spacing: 2px;
    font-size: 15px;
    font-family:var(--oswald);
    font-weight: 400;
}

header .drop .dropdown a:hover {
    color: #B19777;
}

header .header-bottom .right-menu .icon{
    border-radius: 50%;
    border: solid gray 1px;
    padding: 10px 14px;
    margin: 0 8px;
}

header .header-bottom .right-menu .icon:hover{
    color: white;
    background-color: var(--green-500);
}


header .header-bottom .right-menu a{
    text-decoration: none;
    color: var(--white-900);
    padding: 12px 22px;
    background-color: var(--green-500);
    border-radius: 10px;
    font-family: var(--titillium-web);
    font-size: 16px;
    font-weight: 700;
}

header .header-bottom .right-menu a:hover{
    background-color: var(--yellow-900);
    color: black;    
}




/* service-section */

.service-card .services {
    background-color: var(--gray-500);
}

.service-card .services .cards{
    padding-right: 20px;
    padding-left: 20px;
    border-right: 1px solid gray;   
}

.service-card .services .cards:last-child{
    border: none;
}

.service-card .services .cards .icon{
    padding: 15px;
    background-color: var(--white-900);
    display: inline-block;
    border-radius: 50%;
    font-size: 30px;
}

.service-card .services .cards:hover .icon{
    background-color: var(--green-500);
    color: var(--white-900);
    transition: 1s;
}

.service-card .services .cards h3{
    font: var(--titillium-web);
    font-size: 30px;
    font-weight: 600;
}

.service-card .services .cards h3:hover{
    color: var(--green-500);
}

.service-card .services .cards p{
    font: var(--archivo);
    font-size: 16px;
}




/**** about-section ****/

.about .image-sec{
    position: relative;
}


.about{
    margin-top: 50px;
}

.about img{
    border-radius: 30px;
}

.about .image img{
    padding: 20px;
    border-radius: 30px;
    margin-top: 0;
}
.about .image-sec .text{
    z-index: 1;
    left: 200px;
    position: absolute;
    background-color: var(--green-500);
    color: var(--white-900);
    border-radius: 20px;
    font-family: var(--titillium-web);

    
}

.about i{
    font-size: 50px;
    

}
.about h3{
    font-size: 23px;
}

.about .desc h6{
    font-size: 18px;
    font-family: var(--titillium-web);
    color: var(--green-800);
    font-weight: 700;
    margin-top: 20px;
}
.about .desc h2{
    font-size: 48px;
    font-family: var(--titillium-web);
    font-weight: 500;

}

.about .desc p{
    font-size: 16px;
    font-family: var(--archivo);
    color: grey;
    padding-bottom: 10px;
}
.about .desc a{
    background-color: rgb(145, 255, 0);
    color: black;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    padding-top: 5px;
}
.about .desc a:hover{
    background-color: var(--green-500);
    transition: 0.5s;
}

/**** profile-section ****/

.profile{
    margin-top: 50px;
}

.profile .profile1{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 10px;
    padding: 10px;
    position: relative;

}




.profile .image img{
    height: 88px;
    width: 88px;
    margin: 0 auto;
    position: absolute;
    top: -30px;
    right: 300px;
    
}
.profile p{
    font-size: 20px;
    font-family: var(--archivo);
    color: grey;
    text-align: center;
    padding-top: 80px;
}
.profile i{
    color: yellow;
    
}

.profile h4{
    font-size: 24px;
    font-family: var(--titillium-web);
    font-weight: 700;
}
.profile h4:hover{
    color: var(--green-500);
}
.profile h5{
    font-size: 16px;
    font-family: var(--archivo);
    color: grey;

}